@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Supermercado+One');

body {
    background-color: #106022;
    font-family: 'Supermercado One', cursive;
    color: #FFF;
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
}

.form {
	border: 5px dashed #FFF;
	border-radius: 10px;
	background-color: darkgreen;
	width: 80%;
	text-align: center;
	margin: 0 auto;
}

input {
	margin: 5px;
}

.button {
	background-color: green;
	color: #FFF;
	padding: 5px 15px;
	font-family: 'Supermercado One', cursive;
	border-radius: 5px;
	border: 2px solid #FFF;
	box-shadow: 3px 3px 5px 1px black;
}

footer {
	margin-top: 50px;
	text-align: center;
}
