html
    head
        title Application with usage of Google Authorization
    <style type="text/css">
        include ../css/style.css
    </style>
    body
        h3 You have successfully logged in! :)